<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="blue_lg">

    {{!-- {{> common/header }} --}}

    <div class="bg_blue"></div>

    <main>
        <section id="index" class="page-container">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 left-side">
                        <a href="index.html" class="logo">
                            <img src="../assets/cib_logo.svg" alt="cib_logo">
                        </a>

                        <h1>Onlayn Ödənİş</h1>
                    </div>


                    <div class="col-lg-8 blue_side">

                        <div id="main_feed">

                            <div class="bank_logo">
                                <img src="../assets/bank_logo.png" alt="">
                            </div>

                            <section id="error_block">

                                <div class="name_block">
                                    <p>Müştəri,</p>
                                    <p class="name">
                                        Aytən Əli qızı Məmmədova
                                    </p>
                                </div>
                                <div class="error_logo">
                                    <img src="../assets/error.svg" alt="">
                                </div>
                                <p class="error_text">
                                    Uğursuz əməliyyat!
                                </p>
                                <p class="check_text">Məlumatları yoxlayın</p>
                                <input class="link" type="button"  value="Ödəniş səhifəsinə qayıt" />

                                <p class="error_descr">
                                    Veniam adipisicing et proident excepteur aute velit adipisicing incididunt veniam
                                    sunt aliquip mollit mollit. Ea dolore sit enim aliquip cillum minim labore cillum
                                    velit quis cupidatat aliquip est. Ipsum officia eiusmod deserunt ad.
                                </p>
                                <a class="close_block">
                                    <p>Səhifəni bağla</p>
                                    <div href="#" class="close">
                                        <img src="../assets/close.svg" alt="">
                                    </div>
                                </a>
                            </section>



                        </div>




                    </div>
                </div>
            </div>

        </section>
    </main>

</body>

</html>