<section id="index_form">
    <div class="input_wrapper">
        <div class="input_block">
            <label for="fname">Müştəri kodunu daxil edin</label>
            <input type="text" id="fname" name="payment" placeholder="kod" />
        </div>
        <div class="input_block ">
            <label for="fname">Müştəri təvəllüdünü daxil edin</label>
            <input type="text" id="lname" name="payment" placeholder="təvəllüd" />
        </div>

        <input type="button" id="nextbtn" value="Davam et" />
    </div>
</section>