<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body class="blue_lg">


  <div class="bg_blue"></div>

  <main>
    <section id="index" class="page-container">

      <div class="container">
        <div class="row">
          <div class="col-lg-4 left-side">
            <a href="index.html" class="logo">
              <img src="../assets/cib_logo.svg" alt="cib_logo">
            </a>

            <h1>Onlayn Ödənİş</h1>
          </div>


          <div class="col-lg-8 blue_side">

            <div id="main_feed">

              <div class="bank_logo">
                <img src="../assets/bank_logo.png" alt="">
              </div>

              <form action="" id="form_feed">


                {{> index_form }}
                {{> payment }}
              </form>


            </div>



          </div>
        </div>
      </div>

    </section>
  </main>

</body>

</html>