<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="blue_lg">


    <div class="bg_blue"></div>

    <main>
        <section id="index" class="page-container">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 left-side">
                        <a href="index.html" class="logo">
                            <img src="../assets/cib_logo.svg" alt="cib_logo">
                        </a>

                        <h1>Onlayn Ödənİş</h1>
                    </div>


                    <div class="col-lg-8 blue_side">

                        <div id="main_feed">

                            <div class="bank_logo">
                                <img src="../assets/bank_logo.png" alt="">
                            </div>

                            <div id="approve_block">

                                <div class="name_block">
                                    <p>Müştəri,</p>
                                    <p class="name">
                                        Aytən Əli qızı Məmmədova
                                    </p>
                                </div>

                                <div class="logo_done">
                                    <img src="../assets/success.svg" alt="">
                                </div>
                                <p class="congrats">
                                    Ödənişiniz uğurludur
                                </p>
                                <p class="thanks">
                                    Təşəkkür edirik.
                                </p>

                                <input class="link" type="button" value="Ödəniş səhifəsinə qayıt" />

                                <div class="email_block">
                                    <p class="email_text">Ödəniş qəbzini e-mailə göndər</p>
                                    <input id="email" type="text" placeholder="e-mail">
                                    <a href="#" class="send">
                                        <img src="../assets/right.png" alt="">
                                    </a>

                                </div>

                                <a class="print_block">
                                    <img src="../assets/print.png" alt="">
                                    <p>Ödəniş qəbzini çap et</p>
                                </a>

                                <a class="close_block">
                                    <p>Səhifəni bağla</p>
                                    <div href="#" class="close">
                                        <img src="../assets/close.svg" alt="">
                                    </div>
                                </a>

                            </div>



                        </div>
                    </div>
                </div>

        </section>
    </main>

</body>

</html>